/* header{
    display: flex;
    justify-content:flex-start ;
    align-items: center;
    border: 1px solid black;
}
header > img{
    width: 80px;
    height: 100%;
    background-color: rebeccapurple;
    margin-right: 25%;
}
main{
    display: flex;
    flex-direction: row;
}
#slide01{
    padding-left: 15px;
    background-color: rgb(190, 190, 190);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#slide01>ul{
    list-style: none;
}
.contCircles{
    display: flex;
    flex-direction: row;
}
.contCircles > div{
    width:20px;
    height: 20px;
    margin: 5px;
    background-color: black;
    border-radius: 50px;
}


#slide02{
    padding-left: 15px;
}
#slide02-div>ul{
    padding-left: 15px;
} */
#header{
    display: flex;
    justify-content: flex-start;
    flex-wrap:wrap;
    align-items: center;
}
#header>img{
    width: 100px;
    transition: 0.5s;
}
#header>img:hover{
    border-radius:50%;
    transform: scale(1.1);
}
#header>h3{
    margin: auto;
}
main{
    display: flex;
    width: 100%;
    height: 400px;
}
#slideLeft{
    
    width: 40%;
}
.ulOff{
    list-style: none;
}
.contCircles{
    display: flex;
}
.contCircles > div{
    width:20px;
    height: 20px;
    margin: 5px;
    background-color: black;
    border-radius: 50px;
}
#slideRigth{
    padding-left: 15px;
    width: 100%;
    height: 200px;
}
#slideRigth-div{
    padding-left: 15px;
}